<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="18.1.0" targetFramework="net20" />
  <package id="bootstrap" version="3.3.7" targetFramework="net20" />
  <package id="HtmlRenderer.Core" version="1.5.0.6" targetFramework="net20" />
  <package id="HtmlRenderer.PdfSharp" version="1.5.0.6" targetFramework="net20" />
  <package id="jQuery" version="3.3.1" targetFramework="net20" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net20" />
</packages>